Repository UKHO/admiralty-design-system, pull requests merged in 2023-08, with the labels that each got.

#96 chore: Update storybook
  packages/core/package.json
  yarn.lock
Labels: package: core, skip-release, internal

#100 feat: Add maxLength property to Textarea
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/input/readme.md
Labels: enhancement, package: core, package: angular

#101 fix: admiralty input validation displays exclamation mark when invalid message is not provided
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/textarea/textarea.spec.ts
  packages/core/src/components/textarea/textarea.tsx
Labels: bug, package: core

#103 Fix: Input and Radio Group event names clashing
  packages/angular/src/lib/stencil-generated/components.ts
  packages/angular/src/lib/stencil-generated/number-value-accessor.ts
  packages/angular/src/lib/stencil-generated/text-value-accessor.ts
  packages/core/src/components.d.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/input/readme.md
  packages/core/stencil.config.ts
Labels: bug, package: core, package: angular, patch

#104 Fixing the text area event name change that was forgotten
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/textarea/readme.md
  packages/core/src/components/textarea/textarea.tsx
Labels: bug, package: core, package: angular, patch

#105 Fixing the radio component hit detection
  packages/core/src/components/radio-group/radio-group.tsx
  packages/core/src/components/radio/radio.tsx
Labels: bug, package: core, patch
