Repository UKHO/admiralty-design-system, pull requests merged in 2023-05, with the labels that each got.

#1 Fix release workflow
  .github/workflows/actions/release-packages/action.yml
  .github/workflows/build.yml
  packages/angular/package.json
  packages/core/package.json
  packages/test-app/package.json
  yarn.lock
Labels: package: core, package: angular

#3 Made header component responsive
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/header-menu-item/header-menu-item.scss
  packages/core/src/components/header-menu-item/header-menu-item.spec.tsx
  packages/core/src/components/header-menu-item/header-menu-item.tsx
  packages/core/src/components/header-profile/header-profile.scss
  packages/core/src/components/header-profile/header-profile.spec.tsx
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-profile/readme.md
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.scss
  packages/core/src/components/header/header.scss
  packages/core/src/components/header/header.spec.tsx
  packages/core/src/components/header/header.stories.ts
  packages/core/src/components/header/header.tsx
  packages/core/src/components/header/readme.md
  packages/core/src/components/icon/readme.md
  yarn.lock
Labels: package: core, package: angular

#5 Fixing the stylesheets and webfonts missing from the NPM package
  .github/workflows/actions/build-core/action.yml
  yarn.lock
Labels: bug, patch

#8 Update README.md
  README.md
Labels: documentation

#7 Update packages
  package.json
  yarn.lock
Labels: skip-release

#9 Add in a dependabot.yml to scan all the directories
  .github/dependabot.yml
Labels: skip-release

#32 Remove dependabot updates
  .github/dependabot.yml
Labels: skip-release
