Repository UKHO/admiralty-design-system, pull requests merged in 2023-06, with the labels that each got.

#44 chore: Make prettier format by default in dev environment using vscode
  .vscode/settings.json
  package.json
  yarn.lock
Labels: skip-release

#47 Readmore web component
  packages/angular/src/lib/stencil-generated/components.ts
  packages/angular/src/lib/stencil-generated/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/icon/readme.md
  packages/core/src/components/read-more/read-more.scss
  packages/core/src/components/read-more/read-more.stories.ts
  packages/core/src/components/read-more/read-more.tsx
  packages/core/src/components/read-more/readme.md
  packages/core/src/components/read-more/test/read-more.e2e.ts
  packages/core/src/components/read-more/test/read-more.spec.tsx
  packages/test-app/src/app/app.component.html
Labels: package: core, package: angular

#40 Typeahead web component fixes
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/button/readme.md
  packages/core/src/components/type-ahead/readme.md
  packages/core/src/components/type-ahead/type-ahead.scss
  packages/core/src/components/type-ahead/type-ahead.stories.ts
  packages/core/src/components/type-ahead/type-ahead.tsx
Labels: package: core, package: angular

#37 feat: Storybook 7 upgrade
  .vscode/settings.json
  package.json
  packages/core/.storybook/main.js
  packages/core/.storybook/preview-head.html
  packages/core/.storybook/preview.js
  packages/core/package.json
  packages/core/src/components/breadcrumb/breadcrumb.stories.ts
  packages/core/src/components/breadcrumbs/breadcrumbs.stories.ts
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card.stories.ts
  packages/core/src/components/checkbox/checkbox.stories.ts
  packages/core/src/components/colour-block/colour-block.stories.ts
  packages/core/src/components/dialogue/dialogue.stories.ts
  packages/core/src/components/expansion/expansion.stories.ts
  packages/core/src/components/file-input/file-input.stories.ts
  packages/core/src/components/filter/filter.stories.ts
  packages/core/src/components/footer/footer.stories.ts
  packages/core/src/components/header/header.stories.ts
  packages/core/src/components/hint/hint.stories.ts
  packages/core/src/components/horizontal-rule/horizontal-rule.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input-error/input-error.stories.ts
  packages/core/src/components/input/input.scss
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/label/label.stories.ts
  packages/core/src/components/link/link.stories.ts
  packages/core/src/components/paginator/paginator.stories.ts
  packages/core/src/components/phase-banner/phase-banner.stories.ts
  packages/core/src/components/progress-bar/progress-bar.stories.ts
  packages/core/src/components/radio-group/radio-group.stories.ts
  packages/core/src/components/radio/radio.stories.ts
  packages/core/src/components/read-more/read-more.stories.ts
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.tsx
  packages/core/src/components/side-nav-item/side-nav-item.stories.ts
  packages/core/src/components/side-nav/side-nav.stories.ts
  packages/core/src/components/tab-group/tab-group.stories.ts
  packages/core/src/components/table/table.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/type-ahead/type-ahead.stories.ts
  yarn.lock
Labels: enhancement, package: core

#58 Making sure that the release action uses an immutable lock file
  .github/workflows/actions/release-packages/action.yml
  yarn.lock
Labels: skip-release

#60 Fixing the package version desync
  packages/angular/.scripts/copyPackageVersion.js
  packages/angular/package.json
Labels: package: angular, patch
