Repository UKHO/admiralty-design-system, pull requests merged in 2023-11, with the labels that each got.

#128 Design system homepage
  .editorconfig
  packages/core/src/components/phase-banner/phase-banner.scss
  packages/website/package.json
  packages/website/public/dave.webp
  packages/website/public/greg.webp
  packages/website/public/hero-image.webp
  packages/website/public/svg/UKHO stacked logo.svg
  packages/website/public/tom.webp
  packages/website/src/app/components/components.mdx
  packages/website/src/app/components/layout.tsx
  packages/website/src/app/components/page.tsx
  packages/website/src/app/components/styles.module.css
  packages/website/src/app/globals.css
  packages/website/src/app/home.mdx
  packages/website/src/app/layout.tsx
  packages/website/src/app/page.module.css
  packages/website/src/app/page.tsx
  packages/website/src/app/styles.module.css
  packages/website/src/components/colour-blocks/colour-blocks.tsx
  packages/website/src/components/colour-blocks/styles.module.css
  packages/website/src/components/feedback-dialog/feedback-dialog.tsx
  packages/website/src/components/feedback-dialog/styles.module.css
  packages/website/src/components/image-banner/image-banner.css
  packages/website/src/components/image-banner/image-banner.tsx
  yarn.lock
Labels: package: core

#135 Adding a custom copy code component
  packages/website/next.config.mjs
  packages/website/package.json
  packages/website/src/app/components/styles.module.css
  packages/website/src/components/copy-code-snippet/copy-code-snippet.tsx
  packages/website/src/components/copy-code-snippet/prism-default.css
  packages/website/src/components/playground/playground.css
  packages/website/src/components/playground/playground.tsx
  packages/website/src/mdx-components.tsx
  yarn.lock
Labels: skip-release

#139 fix: Replace colour block click action with colourBlockLinkClicked event
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/colour-block/colour-block.spec.ts
  packages/core/src/components/colour-block/colour-block.stories.ts
  packages/core/src/components/colour-block/colour-block.tsx
  packages/core/src/components/colour-block/readme.md
  packages/docs/components/colour-block/events.mdx
  packages/docs/components/colour-block/props.mdx
  packages/test-app/src/app/app.component.html
  packages/website/src/components/colour-blocks/colour-blocks.tsx
Labels: bug, package: core, package: angular, minor
