Repository UKHO/admiralty-design-system, pull requests merged in 2023-07, with the labels that each got.

#63 adding an exports field to the package.json in the angular package
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/release-packages/action.yml
  .github/workflows/actions/test-core-spec/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  lerna.json
  nx.json
  package.json
  packages/angular/ng-package.json
  packages/angular/package.json
  packages/angular/project.json
  packages/angular/scripts/updatePackageVersion.js
  packages/angular/tsconfig.json
  packages/core/package.json
  packages/core/src/components/button/readme.md
  packages/core/src/components/icon/readme.md
  packages/test-app/src/app/app.component.css
  packages/test-app/src/app/app.component.html
  yarn.lock
Labels: package: core, package: angular, minor

#67 adding required status checks to the protected branch config
  package.json
Labels: patch

#70 Remove protected branch plugin
  package.json
Labels: skip-release

#65 fix: admiralty textarea does not support maxlength
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/textarea/readme.md
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.tsx
Labels: bug, package: core, package: angular

#73 Removing whitespace from package.json
  package.json
Labels: bug

#46 Attempting to support angular 12+ by building with angular 12
  package.json
  packages/angular/package.json
  packages/angular/project.json
  packages/angular/src/lib/stencil-generated/boolean-value-accessor.ts
  packages/angular/src/lib/stencil-generated/number-value-accessor.ts
  packages/angular/tsconfig.json
  packages/core/src/components/button/readme.md
  packages/core/src/components/icon/readme.md
  packages/core/stencil.config.ts
  packages/core/tsconfig.json
  yarn.lock
Labels: package: core, package: angular, patch

#75 Adding a custom file input event
  packages/angular/src/index.ts
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/file-input/file-input.interface.ts
  packages/core/src/components/file-input/file-input.spec.ts
  packages/core/src/components/file-input/file-input.tsx
  packages/core/src/components/file-input/readme.md
Labels: package: core, package: angular, patch

#79 Fix textarea so that it works with the Angular form controls
  packages/angular/src/index.ts
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/textarea/readme.md
  packages/core/src/components/textarea/textarea.interface.ts
  packages/core/src/components/textarea/textarea.spec.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.tsx
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
Labels: package: core, package: angular, patch

#80 fix: admiralty type ahead item fails to append value on dynamic data
  packages/core/src/components.d.ts
  packages/core/src/components/type-ahead-item/readme.md
  packages/core/src/components/type-ahead-item/type-ahead-item.tsx
  packages/core/src/components/type-ahead/test/type-ahead.spec.ts
  packages/core/src/components/type-ahead/type-ahead.tsx
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
Labels: bug, package: core

#82 fix: input component invalid error message layout space not reserved when not displayed
  .devcontainer/devcontainer.json
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.tsx
Labels: bug, package: core

#85 fix: Typeahead drawer positioning
  packages/core/src/components/type-ahead/type-ahead.scss
Labels: bug, package: core

#83 fix: progress bar colours in Firefox
  packages/core/src/components/progress-bar/progress-bar.scss
Labels: bug, package: core

#89 chore: Add -Component suffix to all Table related components
  packages/core/src/components/table-body/table-body.tsx
  packages/core/src/components/table-cell/table-cell.tsx
  packages/core/src/components/table-header-cell/table-header-cell.tsx
  packages/core/src/components/table-header/table-header.tsx
  packages/core/src/components/table/table.stories.ts
  packages/core/src/components/table/table.tsx
Labels: package: core, skip-release, internal

#90 fix: admiralty select admiralty input styling alignment
  README.md
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.tsx
  packages/test-app/src/app/app.component.html
Labels: bug, package: core

#93 chore: Upgrade packages
  package.json
  packages/angular/package.json
  packages/core/package.json
  packages/test-app/package.json
  yarn.lock
Labels: package: core, package: angular, skip-release, internal

#94 fix: Make Progress Bar progressvalue reactive
  packages/core/src/components/progress-bar/progress-bar.tsx
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
Labels: bug, package: core

#62 feat: Header Components - tab through navigation using keyboard
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/Keys.ts
  packages/core/src/components/header-menu-item/header-menu-item.scss
  packages/core/src/components/header-menu-item/header-menu-item.spec.ts
  packages/core/src/components/header-menu-item/header-menu-item.tsx
  packages/core/src/components/header-profile/header-profile.scss
  packages/core/src/components/header-profile/header-profile.spec.ts
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.scss
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.spec.ts
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.tsx
  packages/core/src/components/header-sub-menu-item/readme.md
  packages/core/src/components/header/header.spec.ts
  packages/core/src/components/header/header.tsx
Labels: enhancement, package: core, package: angular
