Repository UKHO/admiralty-design-system, pull requests merged in 2024-09, with the labels that each got.

#233 feature: header items should be links
  packages/angular/src/lib/stencil-generated/components.ts
  packages/angular/src/lib/stencil-generated/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/header-menu-item/header-menu-item.tsx
  packages/core/src/components/header-menu-item/readme.md
  packages/core/src/components/header-menu-link/header-menu-link.e2e.ts
  packages/core/src/components/header-menu-link/header-menu-link.scss
  packages/core/src/components/header-menu-link/header-menu-link.spec.ts
  packages/core/src/components/header-menu-link/header-menu-link.tsx
  packages/core/src/components/header-menu-link/readme.md
  packages/core/src/components/header/header.stories.ts
  packages/core/src/components/header/header.tsx
  packages/core/src/components/header/readme.md
  packages/docs/components/header-menu-item/props.mdx
  packages/docs/components/header-menu-link/customProps.mdx
  packages/docs/components/header-menu-link/events.mdx
  packages/docs/components/header-menu-link/methods.mdx
  packages/docs/components/header-menu-link/parts.mdx
  packages/docs/components/header-menu-link/props.mdx
  packages/docs/components/header-menu-link/slots.mdx
  packages/react/lib/components/stencil-generated/index.ts
  packages/website/src/app/layout.tsx
  packages/website/src/usage/header/menu-item/angular.mdx
  packages/website/src/usage/header/menu-item/demo.tsx
  packages/website/src/usage/header/menu-item/javascript.mdx
  packages/website/src/usage/header/menu-item/react.mdx
Labels: enhancement, package: core, package: angular, minor, accessibility, package: website, package: react

#245 Update dialogue text to be a h2
  packages/core/src/components/dialogue/dialogue.scss
  packages/core/src/components/dialogue/dialogue.spec.ts
  packages/core/src/components/dialogue/dialogue.stories.ts
  packages/core/src/components/dialogue/dialogue.tsx
Labels: package: core, patch, accessibility

#246 Update radio buttons and radio group
  packages/core/src/components.d.ts
  packages/core/src/components/radio-group/radio-group.scss
  packages/core/src/components/radio-group/radio-group.spec.ts
  packages/core/src/components/radio-group/radio-group.stories.ts
  packages/core/src/components/radio-group/radio-group.tsx
  packages/core/src/components/radio-group/readme.md
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/radio/radio.stories.ts
  packages/core/src/components/radio/radio.tsx
  packages/core/src/components/radio/ukho-radio.spec.ts
  packages/docs/components/radio-group/props.mdx
  packages/website/src/app/components/radio-group/radio-group.mdx
  packages/website/src/usage/radio-group/basic/angular.mdx
  packages/website/src/usage/radio-group/basic/demo.tsx
  packages/website/src/usage/radio-group/basic/javascript.mdx
  packages/website/src/usage/radio-group/basic/react.mdx
  packages/website/src/usage/radio-group/conditional/angular.mdx
  packages/website/src/usage/radio-group/conditional/demo.tsx
  packages/website/src/usage/radio-group/conditional/index.mdx
  packages/website/src/usage/radio-group/conditional/javascript.mdx
  packages/website/src/usage/radio-group/conditional/react.mdx
  packages/website/src/usage/radio-group/disabled/angular.mdx
  packages/website/src/usage/radio-group/disabled/demo.tsx
  packages/website/src/usage/radio-group/disabled/index.mdx
  packages/website/src/usage/radio-group/disabled/javascript.mdx
  packages/website/src/usage/radio-group/disabled/react.mdx
  packages/website/src/usage/radio-group/horizontal/angular.mdx
  packages/website/src/usage/radio-group/horizontal/demo.tsx
  packages/website/src/usage/radio-group/horizontal/index.mdx
  packages/website/src/usage/radio-group/horizontal/javascript.mdx
  packages/website/src/usage/radio-group/horizontal/react.mdx
  packages/website/src/usage/radio-group/labelled/angular.mdx
  packages/website/src/usage/radio-group/labelled/demo.tsx
  packages/website/src/usage/radio-group/labelled/javascript.mdx
  packages/website/src/usage/radio-group/labelled/react.mdx
  packages/website/src/usage/radio-group/stacked/angular.mdx
  packages/website/src/usage/radio-group/stacked/demo.tsx
  packages/website/src/usage/radio-group/stacked/javascript.mdx
  packages/website/src/usage/radio-group/stacked/react.mdx
Labels: package: core, minor, accessibility, package: website

#247 Remove maxinput property from input fields
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/input/readme.md
  packages/core/src/components/textarea/readme.md
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.tsx
  packages/docs/components/input/props.mdx
  packages/docs/components/textarea/props.mdx
Labels: package: core, package: angular, patch

#250 Update menu items to be correct colour
  packages/core/src/components/header-menu-item/header-menu-item.scss
Labels: bug, package: core

#204 fix: Fix logo alt text so that it matches the image
  packages/core/src/components/header/header.spec.ts
  packages/core/src/components/header/header.stories.ts
  packages/core/src/components/header/header.tsx
  packages/core/src/components/header/readme.md
  packages/docs/components/header/props.mdx
  packages/test-app/src/app/app.component.html
  packages/website/src/usage/header/menu-item/angular.mdx
  packages/website/src/usage/header/menu-item/javascript.mdx
  packages/website/src/usage/header/menu-item/react.mdx
Labels: bug, package: core, accessibility, package: website

#248 Unify focus highlight and colours for all components
  packages/core/src/components/autocomplete/autocomplete.scss
  packages/core/src/components/breadcrumb/breadcrumb.scss
  packages/core/src/components/button/button.scss
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/colour-block/colour-block.scss
  packages/core/src/components/expansion/expansion.scss
  packages/core/src/components/file-input/file-input.scss
  packages/core/src/components/file-input/file-input.spec.ts
  packages/core/src/components/file-input/file-input.tsx
  packages/core/src/components/filter/filter.scss
  packages/core/src/components/footer/footer.scss
  packages/core/src/components/header-menu-item/header-menu-item.scss
  packages/core/src/components/header-menu-item/header-menu-item.spec.ts
  packages/core/src/components/header-menu-item/header-menu-item.tsx
  packages/core/src/components/header-profile/header-profile.scss
  packages/core/src/components/header-profile/header-profile.spec.ts
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header/header.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/modal-dialog/modal-dialog.scss
  packages/core/src/components/paginator/paginator.spec.ts
  packages/core/src/components/paginator/paginator.tsx
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/read-more/read-more.scss
  packages/core/src/components/side-nav-item/side-nav-item.scss
  packages/core/src/components/tab-group/tab-group.scss
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/scss/base/_a11y.scss
  packages/core/src/scss/base/_responsive.scss
  packages/core/src/scss/base/_typography.scss
  packages/website/src/components/image-banner/image-banner.css
  packages/website/src/components/image-banner/image-banner.tsx
Labels: package: core, package: angular, major, accessibility, package: website, package: react

#252 Update angular version to 16
  packages/angular/package.json
  packages/angular/tsconfig.json
  packages/test-app/package.json
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
  packages/test-app/src/assets/svg/Admiralty linear logo.svg
  packages/test-app/src/assets/svg/Admiralty stacked logo.svg
  packages/test-app/src/assets/svg/UKHO linear logo.svg
  packages/test-app/src/assets/svg/UKHO stacked logo.svg
  packages/test-app/tsconfig.json
  yarn.lock
Labels: package: angular, major

#254 Update focus highlights for header mobile menus
  packages/core/src/components/header-menu-item/header-menu-item.scss
  packages/core/src/components/header-menu-link/header-menu-link.scss
  packages/core/src/components/header-profile/header-profile.scss
  packages/core/src/components/header-profile/header-profile.spec.ts
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.scss
  packages/core/src/components/header/header.scss
  packages/core/src/components/header/header.spec.ts
  packages/core/src/components/header/header.tsx
  packages/core/src/components/skip-link/skip-link.scss
  packages/core/src/components/skip-link/skip-link.spec.ts
  packages/core/src/components/skip-link/skip-link.tsx
Labels: bug, package: core, patch

#256 Update profile menu mouse events
  packages/core/src/components/header-profile/header-profile.spec.ts
  packages/core/src/components/header-profile/header-profile.tsx
Labels: bug, package: core, patch

#255 Header nav structure
  .github/workflows/build.yml
  packages/core/src/components/header-menu-item/header-menu-item.scss
  packages/core/src/components/header-menu-link/header-menu-link.scss
  packages/core/src/components/header-profile/header-profile.scss
  packages/core/src/components/header-profile/header-profile.spec.ts
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.scss
  packages/core/src/components/header/header.scss
  packages/core/src/components/header/header.spec.ts
  packages/core/src/components/header/header.tsx
Labels: enhancement, package: core, minor

#260 Update next with latest changes from main
  CHANGELOG.md
  lerna.json
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.scss
  packages/core/src/components/skip-link/skip-link.scss
  packages/core/src/components/skip-link/skip-link.spec.ts
  packages/core/src/components/skip-link/skip-link.tsx
  packages/docs/package.json
  packages/react/package.json
  packages/test-app/package.json
  packages/website/package.json
  yarn.lock
Labels: package: core, package: angular, skip-release, package: website, package: react

#265 Replace incorrect colour definition for info dialogue
  packages/core/src/themes/default.css
Labels: bug, package: core, minor

#266 Upgrading dependencies to latest versions
  package.json
  packages/angular/package.json
  packages/angular/src/lib/app_initialise.ts
  packages/angular/src/lib/design-system.module.ts
  packages/core/.storybook/preview-head.html
  packages/core/package.json
  packages/core/src/components/autocomplete/autocomplete.scss
  packages/core/src/components/button/readme.md
  packages/core/src/components/header-profile/header-profile.scss
  packages/core/src/components/icon/readme.md
  packages/core/src/components/select/select.scss
  packages/core/stencil.config.ts
  packages/docs/components/autocomplete/props.mdx
  packages/docs/components/breadcrumb/props.mdx
  packages/docs/components/button/props.mdx
  packages/docs/components/checkbox/props.mdx
  packages/docs/components/error-summary/slots.mdx
  packages/docs/components/footer/props.mdx
  packages/docs/components/footer/slots.mdx
  packages/docs/components/header-menu-link/props.mdx
  packages/docs/components/header-profile/events.mdx
  packages/docs/components/header-profile/props.mdx
  packages/docs/components/header-sub-menu-item/events.mdx
  packages/docs/components/hint/slots.mdx
  packages/docs/components/icon/props.mdx
  packages/docs/components/input-invalid/slots.mdx
  packages/docs/components/label/slots.mdx
  packages/docs/components/paginator/events.mdx
  packages/docs/components/side-nav-item/props.mdx
  packages/docs/components/side-nav/props.mdx
  packages/docs/components/type-ahead/events.mdx
  packages/docs/package.json
  packages/docs/tsconfig.json
  packages/react/lib/components.ts
  packages/react/lib/components/stencil-generated/index.ts
  packages/react/lib/components/stencil-generated/react-component-lib/createComponent.tsx
  packages/react/lib/components/stencil-generated/react-component-lib/createOverlayComponent.tsx
  packages/react/lib/components/stencil-generated/react-component-lib/index.ts
  packages/react/lib/components/stencil-generated/react-component-lib/interfaces.ts
  packages/react/lib/components/stencil-generated/react-component-lib/utils/attachProps.ts
  packages/react/lib/components/stencil-generated/react-component-lib/utils/case.ts
  packages/react/lib/components/stencil-generated/react-component-lib/utils/dev.ts
  packages/react/lib/components/stencil-generated/react-component-lib/utils/index.tsx
  packages/react/lib/index.ts
  packages/react/package.json
  packages/react/tsconfig.json
  packages/test-app/package.json
  packages/website/package.json
  packages/website/src/app/not-found.tsx
  packages/website/src/components/side-nav/side-nav.tsx
  packages/website/src/usage/typeahead/action/demo.tsx
  yarn.lock
Labels: package: core, package: angular, package: website, package: react

#267 Make React Package Public
  .github/workflows/actions/build-all/action.yml
  .github/workflows/actions/release-packages/action.yml
  packages/react/README.md
  packages/react/package.json
  yarn.lock
Labels: major, package: react

#268 Create getting started page
  packages/website/src/app/getting-started/angular/angular.mdx
  packages/website/src/app/getting-started/angular/page.tsx
  packages/website/src/app/getting-started/customising-components/customising-components.mdx
  packages/website/src/app/getting-started/customising-components/page.tsx
  packages/website/src/app/getting-started/getting-started.mdx
  packages/website/src/app/getting-started/javascript/javascript.mdx
  packages/website/src/app/getting-started/javascript/page.tsx
  packages/website/src/app/getting-started/layout.tsx
  packages/website/src/app/getting-started/page.tsx
  packages/website/src/app/getting-started/react/page.tsx
  packages/website/src/app/getting-started/react/react.mdx
  packages/website/src/app/getting-started/styles.module.css
  packages/website/src/app/layout.tsx
  packages/website/src/components/colour-blocks/colour-blocks.tsx
  packages/website/src/components/copy-code-snippet/copy-code-snippet.tsx
  packages/website/src/components/feedback-dialog/feedback-dialog.tsx
  packages/website/src/components/side-nav/side-nav.tsx
Labels: package: website
