Repository UKHO/admiralty-design-system, pull requests merged in 2024-01, with the labels that each got.

#150 Adding the ability to turn off the signout and account button on the header profile
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-profile/readme.md
  packages/core/src/components/header/header.stories.ts
  packages/docs/components/header-profile/events.mdx
  packages/docs/components/header-profile/props.mdx
Labels: package: core, package: angular, minor

#151 Fix deployment
  .github/workflows/actions/release-packages/action.yml
Labels: skip-release

#152 Removing the snowfall easter egg
  packages/website/package.json
  packages/website/public/dave.webp
  packages/website/public/greg.webp
  packages/website/public/tom.webp
  packages/website/src/app/layout.tsx
  yarn.lock
Labels: skip-release, package: website

#154 Update packages
  package.json
  packages/core/package.json
  packages/test-app/package.json
  yarn.lock
Labels: package: core, patch
