Repository UKHO/admiralty-design-system, pull requests merged in 2024-10, with the labels that each got.

#269 Fix: cannot hide admiralty-checkbox label to be accessible
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/checkbox/checkbox.spec.ts
  packages/core/src/components/checkbox/checkbox.stories.ts
  packages/core/src/components/checkbox/checkbox.tsx
  packages/core/src/components/checkbox/readme.md
Labels: bug, package: core, package: angular, patch, package: website, package: react

#270 fix: Header sub menu items should be links
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/header-profile/header-profile.spec.ts
  packages/core/src/components/header-profile/header-profile.tsx
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.e2e.ts
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.scss
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.spec.ts
  packages/core/src/components/header-sub-menu-item/header-sub-menu-item.tsx
  packages/core/src/components/header-sub-menu-item/readme.md
  packages/core/src/components/header/header.stories.data.ts
  packages/core/src/components/header/header.stories.ts
  packages/core/src/components/header/header.types.ts
  packages/core/src/components/side-nav-item/side-nav-item.spec.ts
  packages/core/src/components/side-nav-item/side-nav-item.tsx
  packages/core/src/components/side-nav/side-nav.spec.ts
  packages/website/src/app/components/header/header.mdx
  packages/website/src/usage/header/menu-item/angular.mdx
  packages/website/src/usage/header/menu-item/javascript.mdx
  packages/website/src/usage/header/menu-item/react.mdx
Labels: enhancement, package: core, package: angular, package: website

#275 Create migration guide for v2.0
  MIGRATION_GUIDE.md
  packages/website/src/app/getting-started/layout.tsx
  packages/website/src/app/getting-started/migrating/migrating.mdx
  packages/website/src/app/getting-started/migrating/page.tsx
Labels: package: website

#276 fix: rename id to be internalId
  packages/core/src/components/expansion/expansion.tsx
  packages/core/src/components/radio-group/radio-group.tsx
  packages/core/src/components/read-more/read-more.tsx
Labels: bug, package: core

#283 Feat: Add accessibility statement to the DS website
  packages/website/src/app/accessbility/accessibility.mdx
  packages/website/src/app/accessbility/layout.tsx
  packages/website/src/app/accessbility/page.tsx
  packages/website/src/app/accessbility/styles.module.css
  packages/website/src/app/layout.tsx
Labels: skip-release, package: website

#271 Feat: Include documentation to demonstrate a placeholder option
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.stories.ts
Labels: package: core, patch

#272 Feat: updated documentation for content design
  packages/website/src/app/components/dialogue/dialogue.mdx
  packages/website/src/app/components/modal-dialog/modal-dialog.mdx
  packages/website/src/app/components/read-more/read-more.mdx
Labels: skip-release, package: website
