Repository UKHO/admiralty-design-system, pull requests merged in 2024-08, with the labels that each got.

#229 fix: input error spacing
  packages/core/src/components/input-invalid/input-invalid.scss
  packages/core/src/components/type-ahead/type-ahead.tsx
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
Labels: bug, package: core, patch

#235 Bump versions and manually update change logs
  CHANGELOG.md
  lerna.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/docs/package.json
  packages/react/package.json
  packages/test-app/package.json
  packages/website/package.json
  yarn.lock
Labels: package: core, package: angular, skip-release, package: website, package: react

#232 feature: do not display error component when no error is present
  packages/core/src/components/file-input/file-input.spec.ts
  packages/core/src/components/file-input/file-input.tsx
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/radio-group/radio-group.spec.ts
  packages/core/src/components/radio-group/radio-group.tsx
  packages/core/src/components/select/select.spec.ts
  packages/core/src/components/select/select.tsx
  packages/core/src/components/textarea/textarea.spec.ts
  packages/core/src/components/textarea/textarea.tsx
Labels: enhancement, package: core, minor

#234 fix: force the header to re-render when the slot contents change
  packages/core/src/components/header/header.spec.ts
  packages/core/src/components/header/header.tsx
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
Labels: bug, package: core, minor

#239 Do not clear autocomplete default value before options have been rendered
  packages/core/src/components/autocomplete/autocomplete.tsx
Labels: bug, package: core, package: angular, patch

#242 chore: Update packages
  .devcontainer/devcontainer.json
  package.json
  packages/core/package.json
  packages/website/package.json
  yarn.lock
Labels: package: core, patch, package: website

#236 chore: manually update changelog
  CHANGELOG.md
  packages/core/CHANGELOG.md
Labels: documentation, package: core, skip-release

#244 Remove aria-hidden attribute from file upload and cater for no files selected
  packages/core/src/components/file-input/file-input.spec.ts
  packages/core/src/components/file-input/file-input.tsx
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
Labels: package: core, package: angular, minor, package: website, package: react
