Repository UKHO/admiralty-design-system, pull requests merged in 2024-11, with the labels that each got.

#288 Fix: Accessibility Disable Input labels and hint text fail WCAG 1.4.3
  packages/core/src/components/hint/hint.vars.scss
  packages/core/src/components/label/label.vars.scss
  packages/core/src/themes/default.css
Labels: bug, package: core, patch

#294 Fix: disabled checkbox
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/checkbox/checkbox.vars.scss
Labels: package: core, patch

#295 Docs: updated documentation for admiralty select
  packages/core/src/components.d.ts
  packages/core/src/components/select/readme.md
  packages/core/src/components/select/select.tsx
  packages/docs/components/select/props.mdx
Labels: package: core, patch

#289 Fix: Readmore component needs refining
  packages/core/src/components/read-more/read-more.scss
Labels: package: core, patch

#309 Updating Nx and lerna to the latest version
  package.json
  yarn.lock
Labels: bug, skip-release

#311 Upgrade yarn to v4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  lerna.json
  nx.json
  package.json
  packages/angular/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/react/package.json
  packages/test-app/package.json
  packages/website/package.json
  yarn.lock
Labels: package: core, package: angular, skip-release, dependencies, package: website, package: react

#313 Fix theme typo for font-size-7
  packages/core/src/themes/default.css
Labels: bug, package: core
