Repository UKHO/admiralty-design-system, pull requests merged in 2024-05, with the labels that each got.

#190 chore: Upgrade Packages
  .devcontainer/devcontainer.json
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/release-packages/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/actions/yarn-cache/action.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/website.yml
  .gitignore
  package.json
  packages/angular/package.json
  packages/angular/src/lib/stencil-generated/angular-component-lib/utils.ts
  packages/core/package.json
  packages/core/src/components.d.ts
  packages/core/src/components/radio/radio.tsx
  packages/test-app/package.json
  packages/test-app/src/app/app.component.html
  packages/website/package.json
  yarn.lock
Labels: package: core, package: angular, skip-release, package: website

#196 Update Admiralty Stacked Logo
  packages/core/src/assets/svg/Admiralty stacked logo.svg
  packages/website/public/svg/Admiralty stacked logo.svg
Labels: enhancement, package: core, patch, package: website

#176 feat: Add Modal Dialog
  .vscode/tasks.json
  packages/angular/src/lib/stencil-generated/components.ts
  packages/angular/src/lib/stencil-generated/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/modal-dialog/modal-dialog.e2e.ts
  packages/core/src/components/modal-dialog/modal-dialog.scss
  packages/core/src/components/modal-dialog/modal-dialog.spec.ts
  packages/core/src/components/modal-dialog/modal-dialog.stories.ts
  packages/core/src/components/modal-dialog/modal-dialog.tsx
  packages/core/src/components/modal-dialog/readme.md
  packages/docs/components/modal-dialog/customProps.mdx
  packages/docs/components/modal-dialog/events.mdx
  packages/docs/components/modal-dialog/methods.mdx
  packages/docs/components/modal-dialog/parts.mdx
  packages/docs/components/modal-dialog/props.mdx
  packages/docs/components/modal-dialog/slots.mdx
  packages/react/lib/components/stencil-generated/index.ts
  packages/test-app/src/app/app.component.html
  packages/test-app/src/app/app.component.ts
  packages/website/src/app/components/layout.tsx
  packages/website/src/app/components/modal-dialog/modal-dialog.mdx
  packages/website/src/app/components/modal-dialog/page.tsx
  packages/website/src/usage/modal-dialog/basic/angular.mdx
  packages/website/src/usage/modal-dialog/basic/demo.tsx
  packages/website/src/usage/modal-dialog/basic/index.mdx
  packages/website/src/usage/modal-dialog/basic/javascript.mdx
  packages/website/src/usage/modal-dialog/basic/react.mdx
Labels: enhancement, package: core, package: angular, minor, package: website, package: react
