Repository UKHO/admiralty-design-system, pull requests merged in 2025-01, with the labels that each got.

#287 Feat: New Pill style component
  packages/angular/src/lib/stencil-generated/components.ts
  packages/angular/src/lib/stencil-generated/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/icon/readme.md
  packages/core/src/components/pill/pill.e2e.ts
  packages/core/src/components/pill/pill.scss
  packages/core/src/components/pill/pill.spec.ts
  packages/core/src/components/pill/pill.stories.ts
  packages/core/src/components/pill/pill.tsx
  packages/core/src/components/pill/pill.vars.scss
  packages/core/src/components/pill/readme.md
  packages/docs/components/pill/customProps.mdx
  packages/docs/components/pill/events.mdx
  packages/docs/components/pill/methods.mdx
  packages/docs/components/pill/parts.mdx
  packages/docs/components/pill/props.mdx
  packages/docs/components/pill/slots.mdx
  packages/react/lib/components.ts
  packages/website/src/app/components/layout.tsx
  packages/website/src/app/components/pill/page.tsx
  packages/website/src/app/components/pill/pill.mdx
  packages/website/src/usage/pill/basic/angular.mdx
  packages/website/src/usage/pill/basic/demo.tsx
  packages/website/src/usage/pill/basic/index.mdx
  packages/website/src/usage/pill/basic/javascript.mdx
  packages/website/src/usage/pill/basic/react.mdx
  packages/website/src/usage/pill/colours/angular.mdx
  packages/website/src/usage/pill/colours/demo.tsx
  packages/website/src/usage/pill/colours/index.mdx
  packages/website/src/usage/pill/colours/javascript.mdx
  packages/website/src/usage/pill/colours/react.mdx
  packages/website/src/usage/pill/number/angular.mdx
  packages/website/src/usage/pill/number/demo.tsx
  packages/website/src/usage/pill/number/index.mdx
  packages/website/src/usage/pill/number/javascript.mdx
  packages/website/src/usage/pill/number/react.mdx
  packages/website/src/usage/pill/selected/angular.mdx
  packages/website/src/usage/pill/selected/demo.tsx
  packages/website/src/usage/pill/selected/index.mdx
  packages/website/src/usage/pill/selected/javascript.mdx
  packages/website/src/usage/pill/selected/react.mdx
Labels: enhancement, package: core, package: angular, minor, package: website, package: react

#325 Fix: Cannot use a number type in the admiralty-autocomplete-option value property
  packages/core/src/components/autocomplete/autocomplete.tsx
Labels: bug, package: core

#326 Fix: Input to behave correctly with aria-describedby
  CHANGELOG.md
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/components/input/input.spec.ts
  packages/core/src/components/input/input.tsx
  packages/core/src/components/progress-bar/progress-bar.tsx
  packages/docs/package.json
  packages/react/package.json
  packages/test-app/package.json
  packages/website/package.json
Labels: package: core, package: angular, package: website, package: react

#333 332 Add link component to Documentation Website
  packages/website/src/app/components/layout.tsx
  packages/website/src/app/components/link/link.mdx
  packages/website/src/app/components/link/page.tsx
  packages/website/src/usage/link/basic/angular.mdx
  packages/website/src/usage/link/basic/demo.tsx
  packages/website/src/usage/link/basic/index.mdx
  packages/website/src/usage/link/basic/javascript.mdx
  packages/website/src/usage/link/basic/react.mdx
  packages/website/src/usage/link/open-in-new-tab/angular.mdx
  packages/website/src/usage/link/open-in-new-tab/demo.tsx
  packages/website/src/usage/link/open-in-new-tab/index.mdx
  packages/website/src/usage/link/open-in-new-tab/javascript.mdx
  packages/website/src/usage/link/open-in-new-tab/react.mdx
Labels: skip-release, package: website

#328 Feat: Updated card component stories to display customisable cards using the pill component.
  packages/core/src/components/card/card.scss
  packages/core/src/components/card/card.stories.ts
  packages/core/src/components/card/card.vars.scss
  packages/core/src/components/card/readme.md
  packages/docs/components/card/customProps.mdx
Labels: package: core

#321 Feat: Create Patterns Page
  packages/website/src/app/layout.tsx
  packages/website/src/app/patterns/layout.tsx
  packages/website/src/app/patterns/page-not-found/page-not-found.mdx
  packages/website/src/app/patterns/page-not-found/page.tsx
  packages/website/src/app/patterns/page.tsx
  packages/website/src/app/patterns/patterns.mdx
  packages/website/src/app/patterns/service-error/page.tsx
  packages/website/src/app/patterns/service-error/service-error.mdx
  packages/website/src/app/patterns/service-unavailable/page.tsx
  packages/website/src/app/patterns/service-unavailable/service-unavailable.mdx
  packages/website/src/app/patterns/styles.module.css
  packages/website/src/components/colour-blocks/colour-blocks.tsx
  packages/website/src/components/playground/playground.types.tsx
  packages/website/src/usage/error-summary/basic/html.mdx
  packages/website/src/usage/page-not-found/error-401-403/demo.tsx
  packages/website/src/usage/page-not-found/error-401-403/html.mdx
  packages/website/src/usage/page-not-found/error-401-403/index.mdx
  packages/website/src/usage/page-not-found/error-404/demo.tsx
  packages/website/src/usage/page-not-found/error-404/html.mdx
  packages/website/src/usage/page-not-found/error-404/index.mdx
  packages/website/src/usage/service-error/generic-error/demo.tsx
  packages/website/src/usage/service-error/generic-error/html.mdx
  packages/website/src/usage/service-error/generic-error/index.mdx
  packages/website/src/usage/service-unavailable/emergency-maintenance/demo.tsx
  packages/website/src/usage/service-unavailable/emergency-maintenance/html.mdx
  packages/website/src/usage/service-unavailable/emergency-maintenance/index.mdx
  packages/website/src/usage/service-unavailable/planned-maintenance/demo.tsx
  packages/website/src/usage/service-unavailable/planned-maintenance/html.mdx
  packages/website/src/usage/service-unavailable/planned-maintenance/index.mdx
Labels: enhancement, skip-release, package: website
