Repository UKHO/admiralty-design-system, pull requests merged in 2025-09, with the labels that each got.

#391 Fixed issues after v5 release
  packages/docs/components/text-side-bar-item/customProps.mdx
  packages/docs/components/text-side-bar-item/props.mdx
  packages/website/src/app/brand-guide/styles.module.css
  packages/website/src/app/components/styles.module.css
  packages/website/src/app/components/text-side-bar/text-side-bar.mdx
  packages/website/src/app/get-help/styles.module.css
  packages/website/src/app/getting-started/styles.module.css
  packages/website/src/app/layout.tsx
  packages/website/src/app/patterns/styles.module.css
  packages/website/src/app/principles/page.tsx
  packages/website/src/app/principles/principles.mdx
  packages/website/src/app/principles/styles.module.css
  packages/website/src/app/updates/styles.module.css
  packages/website/src/app/updates/v5/v5.mdx
  packages/website/src/components/colour-blocks/colour-blocks.tsx
  packages/website/src/components/image-banner/image-banner.css
  packages/website/src/components/image-banner/image-banner.tsx
Labels: patch, package: website

#395 Fix: side nav item not focusing when tabbing
  packages/website/src/app/layout.tsx
Labels: package: website

#396 Fix: website docs for JavaScript install
  packages/website/src/app/getting-started/javascript/javascript.mdx
Labels: skip-release, package: website

#405 Feat: updated email logic
  .github/workflows/actions/release-email/action.yml
  .github/workflows/build.yml
  .github/workflows/release-email.yml
  scripts/send-release-email.js
Labels: skip-release

#407 Feat: Updates packages recommend by snyk
  packages/website/package.json
  yarn.lock
Labels: skip-release, package: website

#408 Fixed typo
  packages/website/src/components/image-banner/image-banner.tsx
Labels: bug, skip-release, package: website
