Repository UKHO/admiralty-design-system, pull requests merged in 2025-06, with the labels that each got.

#366 Fixing the broken option export causing Angular builds to fail when using autocomplete component
  packages/core/src/components.d.ts
  packages/core/src/components/autocomplete/autocomplete.interface.ts
  packages/core/src/components/autocomplete/autocomplete.tsx
Labels: bug, package: core, patch

#371 Feat: Side bar variant 202448
  packages/angular/src/lib/stencil-generated/components.ts
  packages/core/src/components.d.ts
  packages/core/src/components/side-bar-item/readme.md
  packages/core/src/components/side-bar-item/side-bar-item.scss
  packages/core/src/components/side-bar-item/side-bar-item.spec.ts
  packages/core/src/components/side-bar-item/side-bar-item.stories.ts
  packages/core/src/components/side-bar-item/side-bar-item.tsx
  packages/core/src/components/side-bar-item/side-bar-item.types.ts
  packages/core/src/components/side-bar-item/side-bar-item.vars.scss
  packages/core/src/components/side-bar/readme.md
  packages/core/src/components/side-bar/side-bar.scss
  packages/core/src/components/side-bar/side-bar.spec.ts
  packages/core/src/components/side-bar/side-bar.stories.ts
  packages/core/src/components/side-bar/side-bar.tsx
  packages/core/src/components/side-bar/side-bar.vars.scss
  packages/react/lib/components.ts
Labels: package: core, package: angular, package: react

#372 Fix sidebar issues
  packages/core/src/components/side-bar/readme.md
  packages/core/src/components/side-bar/side-bar.tsx
  packages/docs/components/button/props.mdx
  packages/docs/components/icon/props.mdx
  packages/docs/components/side-bar-item/customProps.mdx
  packages/docs/components/side-bar-item/events.mdx
  packages/docs/components/side-bar-item/props.mdx
  packages/docs/components/side-bar-item/slots.mdx
  packages/docs/components/side-bar/props.mdx
  packages/docs/components/side-bar/slots.mdx
  packages/website/src/usage/side-bar/basic/angular.mdx
  packages/website/src/usage/side-bar/basic/demo.tsx
  packages/website/src/usage/side-bar/basic/javascript.mdx
  packages/website/src/usage/side-bar/basic/react.mdx
Labels: package: core, package: website

#375 Update line endings to LF
  .editorconfig
  packages/test-app/src/favicon.ico
Labels: skip-release
