Repository UKHO/admiralty-design-system, pull requests merged in 2025-05, with the labels that each got.

#351 Update Pill Content
  packages/website/src/app/components/pill/pill.mdx
Labels: enhancement, skip-release, package: website

#344 Feat: Read-more component page content amendment
  packages/website/src/app/components/read-more/read-more.mdx
Labels: package: website

#360 Merge: main into next
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  .github/workflows/stale.yml
  .github/workflows/website.yml
  CHANGELOG.md
  lerna.json
  packages/angular/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/react/package.json
  packages/test-app/package.json
  packages/website/package.json
  packages/website/src/app/components/pill/pill.mdx
  packages/website/src/app/components/read-more/read-more.mdx
  yarn.lock
Labels: package: core
